table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

#header{
	padding-bottom: 1%;
	text-align: center;
	padding-top: 2%;
}

#table{
	padding-right: 20%;
	padding-left: 20%;
}